@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Message Welcome </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about <a href="https://www.youtube.com/playlist?list=PL6n9fhu94yhX6J31qad0wSO1N_rgGbOPV">Rezor Tutorial by Kudvenkat</a>.</p>
    <p>Learn about <a href="https://www.pragimtech.com/courses/asp-net-core-razor-pages-tutorial-for-beginners/">Rezor Tutorial blog by Kudvenkat</a>.</p>
</div>
